

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.container > div:first-child {
    width: 20vw;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container > div:nth-child(2) {
    width: 60vw;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container > div:last-child {
    width: 20vw;
    background-color: #ccc;
}

.container div:nth-child(2) div {
    height: 100%;
    width: 100%;
}

.left {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.left > div {
    width: 80px;
    height: 90px;
    background-color: #000;
    border-radius: 100% 100% 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.left > div > div {
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left > div > div > div {
    width: 60px;
    height: 60px;
    background: linear-gradient(180deg, red 0%, black 60%, black 100%);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left > div > div > div > div {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}